docutils==0.16.0
myst-parser
opencv-python
sphinx-rtd-theme
sphinx==4.0.2
sphinx-copybutton
sphinx_markdown_tables
torch
torchvision
numpy >= 1.17.0
pyyaml >= 5.3
tqdm
-e git+https://github.com/mindlab-ai/mindcv.git#egg=mindcv